# dependencies
/backend/node_modules
/frontend/node_modules
/reminder/node_modules
/backend/package-lock.json
/frontend/package-lock.json
/reminder/package-lock.json

# misc
/frontend/.env
/backend/.env
/reminder/.env
