.home-title-animation {
    animation: flowAnimation 2s forwards;
}

@keyframes flowAnimation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .home-title-animation {
        animation-duration: 1.5s;
    }
}

@media (max-width: 768px) {
  .home-main-headline {
    font-size: 3.5rem!important;
  }
}