.hover-underline {
    text-decoration: none;
    letter-spacing: 0.10rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.hover-underline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--underline-color, default-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hover-underline:hover:after { 
    width: 100%; 
    left: 0; 
}


.icon-shadow-white:hover {
    text-shadow: 0 0 5px white;
}

.icon-shadow-yellow:hover{
    text-shadow: 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow;
}

.dark-dropdown:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-shadow-white:hover {
    box-shadow: 0 0 5px white;
}

.categories {
    /* display: flex; wrote it as a bootstrap class */
    height: 100vh;
    overflow: hidden; /* Hide overflow to prevent double scrollbars */
}

@media (max-width: 991px) {
    .categories-side {
        width: 60%!important;
        overflow-y: auto; /* Enable vertical scrolling for the sidebar */
    }

    .categories h1 {
        font-size: 1.25rem
    }

    .event-text {
        font-size: 0.80rem!important
    }
}

@media (min-width: 769px) {
    .categories-side {
        width: 15%;
        overflow-y: auto; /* Enable vertical scrolling for the sidebar */
    }
}

.categories-main {
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the main content */
}

.react-datepicker__input-container>input {
    background-color: var(--datepicker-color, default-color);
    color: white;
}

.footer-social-btn-light:hover {
    background: #2c346d;
}


.dropdown-hover-light:hover {
    color: #007BFF !important
}

.dropdown-hover-dark:hover {
    color: #edc9af !important
}

.datepicker-light::placeholder {
    color: gray !important
}

.datepicker-dark::placeholder {
    color:#e6e6e6 !important
}


input::-webkit-file-upload-button {
    background-color: var(--input-upload-color, default-color)!important;
}


.forgot-password-link:hover {
    text-decoration: underline!important;
}



@media (max-width: 991.9px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-item {
        display: block;
        margin-bottom: 10px;
    }

    .navbar-toggler {
        height: auto;
    }

    .navbar-collapse {
        display: none!important;
    }

    .navbar-brand {
        width: 40%!important;
    }

    .dashboard-chart-heading {
        font-size: 1.5rem
    }
}

@media (max-width: 991.9px) {
    .profile-username {
        font-size: 1.25rem!important
    }

    .profile-contact {
        font-size: 1rem!important
    }

    .profile-email {
        font-size: 1rem!important
    }

    .profile-dashboard {
        font-size: 1rem!important
    }

    .profile-btn {
        font-size: 90%;
    }

    .profile-analysis {
        width: 100%!important
    }

    .user-bg {
        height: 10rem!important;
    }

    .user-pfp {
        margin-top: 2rem!important;
    }
    .user-pfp-img {
        width: 10rem!important;
        border-radius: 5rem!important;

    }

    .profile-empty-col {
        margin-top: 30%;
    }

    .profile-row-padding {
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
}

@media (max-width: 410px) {
    .desktop-only {
        display: none!important;
    }

    .input-field {
        width: 100%!important
    }

    .auth-logo {
        width: 100%
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .navbar-search {
        margin-left: auto!important;
    }
}

.about-pics {
    width: 27.5rem !important;
    transition: width 0.3s ease;
}

.about-pics:hover {
    width: 30rem !important;
}

@media (max-width: 911.9px) {
    .about-pics {
        width: 75%!important;
    }

    .about-img-div {
        display: grid!important;
        place-items: center!important;
    }
}

@media (min-width: 991px) {
    .reminder-mid-col {
        border-right: 1px solid gray;
        border-left: 1px solid gray;
    }
}
