.hover-underline {
    text-decoration: none;
    letter-spacing: 0.10rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.hover-underline:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--underline-color, default-color);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.hover-underline:hover:after { 
    width: 100%; 
    left: 0; 
}


.icon-shadow-white:hover {
    text-shadow: 0 0 5px white;
}

.icon-shadow-yellow:hover{
    text-shadow: 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow, 0 0 15px yellow;
}

.dark-dropdown:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.btn-shadow-white:hover {
    box-shadow: 0 0 5px white;
}

.categories {
    /* display: flex; wrote it as a bootstrap class */
    height: 100vh;
    overflow: hidden; /* Hide overflow to prevent double scrollbars */
}
  
.categories-side {
    width: 20%;
    overflow-y: auto; /* Enable vertical scrolling for the sidebar */
}
  
.categories-main {
    flex-grow: 1; /* Allow the main content to grow and take up remaining space */
    overflow-y: auto; /* Enable vertical scrolling for the main content */
}

.rbc-toolbar-label  {
    color: var(--rbc-toolbar-label-color, default-color);
    font-size: 2rem;
    text-transform: uppercase;
}

.rbc-header {
    color: var(--rbc-header-color, default-color);
}

.rbc-label {
    color: var(--rbc-header-color, default-color);
}

.rbc-header span {
    color: var(--rbc-header-color, default-color);
    letter-spacing: 0.10rem;
    font-size: 1.15rem;
}

.rbc-date-cell {
    color: var(--rbc-date-cell-color, default-color)
}

.rbc-off-range-bg {
    background: var(--rbc-off-range-bg-color, default-color)!important;
}

.rbc-today {
    background: var(--rbc-today-color, default-color)!important;
}

.rbc-btn-group {
    background-color: var(--rbc-btn-group-color, default-color);
    border-radius: 5px
}

.rbc-btn-group button {
    color: var(--rbc-btn-text-color, default-color)!important;
}

.rbc-btn-group button:hover {
    background: var(--rbc-btn-hover-color)!important;
}

.rbc-active {
    background-color: var(--rbc-active-color, default-color)!important;
}

.react-datepicker__input-container>input {
    background-color: var(--datepicker-color, default-color);
    color: white;
}

.footer-social-btn-light:hover {
    background: #2c346d;
}


.dropdown-hover-light:hover {
    color: #007BFF !important
}

.dropdown-hover-dark:hover {
    color: #edc9af !important
}

.datepicker-light::placeholder {
    color: gray !important
}

.datepicker-dark::placeholder {
    color:#e6e6e6 !important
}


input::-webkit-file-upload-button {
    background-color: var(--input-upload-color, default-color)!important;
}