.fc-daygrid-day-number {
    color: black !important; /* Change the color to black */
    text-decoration: none !important; /* Remove underlines */
}
  
.fc-nav-link {
    color: inherit !important; /* Inherit color from parent */
}

.fc-event {
    border-width: 3px !important; /* Change the border width */
} 
  
    